<?xml version="1.0" encoding="utf-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Twenty Questions</display-name>

    <description>This is a simple hello application.</description>
    
	<persistence-unit-ref>
	    <persistence-unit-ref-name>java:comp/env/persistence/twentyquestions-emf</persistence-unit-ref-name>
	    <persistence-unit-name>twentyquestions</persistence-unit-name>
	</persistence-unit-ref>

</web-app>